body {
  height: 1000vh;
}
.nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #f9f9fa;
  padding: 20px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.nav__list {
  display: flex;
  justify-content: space-around;
}
.nav__link {
  position: relative;
  color: inherit;
}
.nav__notification {
  position: absolute;
  left: 22px;
  bottom: 17px;
}
.nav__dot {
  position: absolute;
  right: -5px;
  top: -12px;
}
